body {
    background-color: rgb(232, 226, 213);
    color:darkslategrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    

}

section {
    padding: 10px 0; /* Padding between sections */
    margin-bottom: 10px 0; /* Margin below each section */

}
h2{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(8, 79, 8);


}
ul{
    font-style: italic; font-size: large; color: black
}
